* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
		
	}

html {
	scroll-behavior: smooth;
}	
@font-face {
	font-family: caps;
	src: url(../fonts/caps.ttf);
}	


@font-face {
	font-family: normal;
	src: url(../fonts/normal-bold.ttf);
}	


body {
	max-width: 1084px;
	margin: 0 auto;
	overflow-x: hidden;
}
header, ul {
 display: flex;

}
.list-items {
	width: 214px;
	justify-content: space-between;

}
header {
	justify-content: space-between;		
	height: 60px;
	align-items: center;

}
.burger {
display: none;	
}

.nav-buttons{
	color: #181818;
	transition: 300ms color ease;
	}
.nav-buttons:hover {
	color:#BADC58;
	transition: 300ms color ease;

}
a,h1,h2,h3,address {
	font-family: caps;
	
}
.hero_content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: calc(100vh - 60px);
	
}
.hero::before {
	content: '';
	display: block;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #181818;
	opacity: 0.6;
	z-index: -1;

}

.hero::after{
	position: absolute;
	bottom: -450px;
	left: 1250px;
	z-index: 5;

}

.hero-h1 {
	font-size: 50px;
	color:#FFF;

}
.hero_button {
	border: 1px solid #badc58;
	background-color: #badc58;
	color: #181818;
	padding-left: 47px;
	padding-top: 15px;
	padding-right: 47px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.hero_button:hover {
	background-color: #FFF;
	color: #badc58;
	border: 1px solid #badc58;
	transition: 300ms color ease;
	
}
.hero_p {
	width: 332px;
	height: 38px;
	color: #FFF;
	font-size: 14px;
	font-family: normal;
	margin-top: 12px;
	margin-bottom: 53px;
	text-align: center;

}
.hero_image {
	position: absolute;
	width: 100%;
	z-index: -2;
	top: 60px;
	left: 0;
	object-fit: cover;
	height: calc(100vh - 60px);


}
.hero_nav {
	color: #FFF;
	margin-top: 93px;
	display: flex;
	flex-direction: column-reverse;


	}

.hero_nav::before {
	content: url('../images/down.png');
	position: relative;
	top: 22px;
	left: 60px;

}
.scroll-down-button {
	margin: 0 auto;
	width: 17px;
	height: 10px;
	margin-top: 15px;
}
.menu {

	background-color: #FFF;
	position: relative;
}

.menu::before {
	content: '';
	display: block;
	width: 100%;
	height: 55px;
	position: absolute;
	top: -55px;
	background-color: #FFF;
	border-top-left-radius:20px;
	border-top-right-radius: 20px;
	
	
}

.menu::after {
	content: '';
	display: block;
	width:  100%;
	height: 56px;
	background-color: #fff;
	position: relative;
	bottom: -55px;
	z-index: 5;
	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
	
	
}


.menu {
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
}
.menu-list {
	display: flex;
	flex-wrap:  wrap ;
	justify-content: center;
	justify-content: space-around;


	}
	.menu_images {
		height: 232px;
		width: 225px
	}

.menu-list li {
	width: 308px;
	height: 452px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;



}
.menu-list li:hover {

  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
  background-color: #ffffff;
}
.menu-list_buttons {
	background-color: #FFF;
	border: 1px solid #badc58;
	color: #badc58;
	padding: 16px 46px 14px 44px;
	border-radius: 10px;
}

.menu-h2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-list_buttons:hover {
	color: #181818;
	border: 1px solid #badc58;
	background-color: #badc58;
	padding: 16px 46px 14px 44px;
	transition: 300ms color background-color ease;

}
.menu-list img {
	padding-bottom: 48px;
}
.menu-list h3 {
	width: 152px;
	font-size: 16px;
	text-align: center;
	padding-bottom: 7px;
}
.menu-list p {
	width: 134px;
	font-size: 10px;
	text-align: center;
	color: #535c68;
	padding-bottom: 21px;
}

.onclick-button {
	border:1px solid #ecf0f1;
	background-color: #ecf0f1;
	color: #bdc3c7;
	padding: 15px 27px 15px 27px;
	border-radius: 10px;

}


#scroll {
    position:fixed;
    right:50px;
    bottom:25px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#a5dc58;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#badc58;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";

}



footer {
	position: relative;
    height: 550px;
    padding-bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}


footer::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	background-color: #292C2F;
	z-index: -1;
	width: 100vw;
	height: 100%;
	}


.footer_div_1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 370px;
	padding-top: 50px;	
	border-radius: 20px;
	margin-top: 100px;
	width: 100%;

}

.footer_icons {
	display: flex;
	width: 1086px;
	margin-top: 30px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer::before {
	content: url('../images/two.png'); 
	position: absolute;
	top: -150px;
	left: 250px;
	z-index: -5;

}


address {
	background-color: #FFF;
	border: 1px solid #FFF;
	width: 100%;
	height: 60px;
	border-radius: 20px;
	text-align: center;
	color: #F59A63;
	padding:20px 250px 21px 250px;
	font-size: 14px;
	padding-top: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.map {
	height: 290px;
	border-radius: 20px;
	overflow: hidden;
	fill: #FFF;
	width: 100%;
}



.icons {
	fill: #FFF;
}
.icons:hover {
	fill: #badc58;
}
.socials {
	width: 20px;
	
}

@media only screen and (min-width :0px){

	body {
		width: calc(100% - 40px);
	}

	.hero-h1 {
		font-size: 20px;

	}
	.list-items {
		display: none;
	}

	.menu::before {
		height: 21px;
		top: -20px;
	}

	.menu::after {
		height: 35px;
		bottom: -35px;
		z-index: 5;
	}

	.footer::before {
		content: none;
	}

	address {
		width: calc(100% - 20px);
	}
	.map {
		width: 100%;
	}

	.burger {
		display: block;
			}
	.burger_item  {
		display: block;
		width: 20px;
		height: 3px;
		background-color:#181818;
		border-radius: 5px;
		transition: 0.3s ease;
		margin-right: 15px
		}


		.change #menu {
	background-color: gray;

}
#bar1 {
	transform: translateY(-3px);
}
#bar3 {
	transform: translateY(3px);
}


.change #bar1{
	 
	transform: translateY(3px) rotateZ(-45deg);
	
	}

.change #bar3 {
	
	transform: translateY(-3px)  rotate(45deg);
	
}
.change #bar2 {
	opacity: 0;
}




}

@media (min-width :600px) {

	.hero-h1 {
		font-size: 35px;

	}
} 

@media (min-width :1084px) {
	.hero-h1 {
		font-size: 50px;

		}
		.burger {
			display: none;
		}

		.list-items {
			display: block;
			width: 214px;
			display: flex;
		}


	
}

