* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
		
	}
@font-face {
	font-family: caps;
	src: url(../fonts/caps.ttf);
}	


@font-face {
	font-family: normal;
	src: url(../fonts/normal-bold.ttf);
}	


body {
	max-width: 1084px;
	margin: 0 auto;
}
header, 
ul {
 display: flex;


}
.list-items {
	width: 214px;
	justify-content: space-between;

}
header {
	justify-content: space-between;		
	height: 60px;
	align-items: center;
	/*border: 1px solid black;*/
}
.burger {
display: none;	
}

.nav-buttons{
	color: #181818;
	transition: 300ms color ease;
	}
.nav-buttons:hover {
	color:#BADC58;
	transition: 300ms color ease;

}
a,h1,h2,h3,address {
	font-family: caps;
	
}
.hero_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px
	
}


.hero {
	position: relative;		
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 60px);
	overflow: hidden;
		
	
}

.hero-h1 {
	font-size: 50px;
	color:#FFF;

}
.hero_button {
	border: 1px solid #badc58;
	background-color: #badc58;
	color: #181818;
	padding-left: 47px;
	padding-top: 15px;
	padding-right: 47px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.hero_button:hover {
	background-color: #FFF;
	color: #badc58;
	border: 1px solid #badc58;
	transition: 300ms color ease;
	
}
.hero_p {
	width: 332px;
	color: #FFF;
	font-size: 14px;
	font-family: normal;
	margin-top: 12px;
	margin-bottom: 53px;
	text-align: center;

}
.hero_image {
	position: absolute;
	width: 100%;
	filter: brightness(60%);
	z-index: -1;
	top: 100px;


}
.hero_nav {
	color: #FFF;
	margin-top: 93px;
	display: flex;
	flex-direction: column-reverse;


	}
.scroll-down-button {
	margin: 0 auto;
	width: 17px;
	height: 10px;
	margin-top: 15px;
}
.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1084px;
	margin-bottom: 100px;
}

 .manu-h2 {
 	padding-bottom: 48px;
 }


.menu-list {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-between;

	}

.menu-list li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;



}
.menu-list li:hover {
	border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
  background-color: #ffffff;
}
.menu-list a {
	color: #181818;
	border: 1px solid #badc58;
	background-color: #badc58;
	box-sizing: border-box;
	padding: 16px 46px 14px 44px;
	border-radius: 10px;
}

.menu-list a:hover {
	background-color: #FFF;
	border: 1px solid #badc58;
	color: #badc58;
	padding: 16px 46px 14px 44px;
	transition: 300ms color background-color ease;

}
.menu-list img {
	padding-bottom: 48px;
}
.menu-list h3 {
	width: 152px;
	font-size: 16px;
	text-align: center;
	padding-bottom: 7px;
}
.menu-list p {
	width: 134px;
	font-size: 10px;
	text-align: center;
	color: #535c68;
	padding-bottom: 21px;
}

#onclick-button {
	border:1px solid #ecf0f1;
	background-color: #ecf0f1;
	color: #bdc3c7;
	padding: 15px 27px 15px 27px;

}